@font-face {

    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

html {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "PT Sans", sans-serif;
    font-size: 22px;
    line-height: 26px;
    color: #000;
    background-color: #fff;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.img-block {
    display: block;
}

.page-wrapper {
    width: 1200px;
    margin: 0 auto;
    padding: 0 40px 0 40px;
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.25);
}

/* Button */
.button {
    font-family: inherit;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #ffffff;
    background-color: #756157;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
    padding: 9px 15px;
    border-radius: 4px;
}

.button:hover {
    background-color: #615048;
}

.button:focus {
    background-color: #615048;
}

.button:active {
    opacity: 30%;
}

.button:disabled {
    background-color: #E5E5E5;
}

.list-style {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
/* Header */
.page-header {
    position: relative;
    margin: 0 70px;
}

.page-header-logo {
    position: absolute;
    z-index: 1;
}

.navigation {
    display: flex;
}

.main-container {
    flex-grow: 1;
}

.navigation-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    width: 450px;
    padding-left: 169px;
}

.navigation-user {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    max-width: 265px;
    margin-left: auto;
}

.navigation-item {
    padding: 0;
    margin: 0;
}

.navigation-link {
    position: relative;
    display: block;
    padding: 20px 17px;
    line-height: 26px;
    font-weight: 700;
    font-size: 20px;
    color: inherit;
    text-decoration: none;
    text-transform: capitalize;
}

.navigation-link-current::before {
    position: absolute;
    content: "";
    right: 15px;
    left: 15px;
    height: 2px;
    bottom: 0;
    background-color: #756257;
  }

.navigation-user .navigation-link {
    min-width: 8px;
    min-height: 26px;
}

.navigation-user .navigation-item:nth-child(1) {
    background-image: url('../images/search.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.navigation-user .navigation-item:nth-child(2) {
    background-image: url('../images/favorite.svg');
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 20px;
}

.user-link-fav {
    position: relative;
}

.fav-count {
    position: absolute;
    font-size: 10px;
    line-height: 13px;
    font-weight: 400;
    color: #fff;
    background-color: #7DB54F;
    text-align: center;
    padding: 9% 11%;
    border-radius: 50%;
    top: 15px;
    left: 24px;
}

.want-to {
    padding: 9px 34px;
    margin-top: 14px;
    margin-bottom: 14px;
}

.welcome-picture {
    position: relative;
    color: #fff;
    background-color: #3F5E72;
    background-image: url("../images/index-background.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.welcome-picture-content {
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 82px;
}

.welcome-picture::after {
    position: absolute;
    padding: 0;
    margin: 0;
    content: url('../images/decoration-welcome-pic.svg');
    bottom: 0;
    height: 57px;
}

 /* Приемущества */
.advantages {
    text-align: center;
    margin: 0;
}

.advantages-wrapper {
    color: #000000;
    background-color: rgba(131, 179, 211, 0.12);
}

.advantages-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    margin: 0 auto;
    width: 620px;
}

.advantages-title-wrapper {
    padding-top: 64px;
    padding-bottom: 90px;
}

.advantages-title-text {
    margin: 0;
    padding-top: 30px;
}

.advantages-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

.advantages-item__text {
    width: 230px;
    max-height: 200px;
    overflow: auto;
    padding: 92px 85px;
}

.advantages-item__text-with-icons {
    width: 230px;
    padding: 182px 85px 80px;
}

.advantages-icon {
    padding-bottom: 30px;
}

.item-dark-blue {
    width: 400px;
    color: #fff;
    background-color: #82B3D3;
}

.item-white {
    background-color: #fff;
}

.item-blue {
    background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item-title {
    padding: 0;
    margin: 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    padding-bottom: 30px;
}

.advantages-description {
    white-space: pre-line;
    padding: 0;
    margin: 0;
}

.advantages-description__number {
    padding: 0;
    margin: 0;
    padding-bottom: 30px;
}

.hotel-icon {
    background-image: url('../images/hotel.svg');
    background-repeat: no-repeat;
    background-position: top 80px center;
}

.food-icon {
    background-image: url('../images/food.svg');
    background-repeat: no-repeat;
    background-position: top 80px center;
}

.gift-icon {
    background-image: url('../images/gift.svg');
    background-repeat: no-repeat;
    background-position: top 80px center;
}

.third-row {
    padding-top: 102px;
    padding-bottom: 103px;
}

/* Поиск отелей */
.search-hotels {
    text-align: center;
    margin-top: 92px;
    margin-bottom: 92px;

}

.search-title {
    margin: 0;
    padding-bottom: 30px;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
}

.call-to-search {
    margin: 0;
    padding-bottom: 56px;
    color: #333333;
}

.search-button-main {
    display: block;
    margin: 0 auto;
    width: 574px;
    padding: 12px 0;
}

/* Кнопки */
.button-blue {
    background-color: #82B3D3;
}

.button-blue:hover {
    background-color: #68A2CA;
    cursor: pointer;
}

.button-blue:focus {
    background-color: #68A2CA;
}

.button-reset {
    font-weight: 400;
    background-color: rgba(131, 179, 211, 0);
    text-decoration: none;
    text-transform: capitalize;
}

.button-reset:hover {
    background-color: rgba(131, 179, 211, 0);
    opacity: 60%;
}

.button-reset:focus {
    background-color: rgba(131, 179, 211, 0);
    box-shadow: 0 0 0 3px #83B3D3 inset;
    outline: none;
}

.button-fav {
    background-color: #7DB54F;
}

.button-fav:hover {
    background-color: #6C9E42;
    cursor: pointer;
}

.button-fav:focus {
    background-color: #6C9E42;
}

.big-button {
    font-size: 20px;
    line-height: 36px;
}

/*Подписка на новости*/
.newsletter {
    color: #fff;
    background-color: #82B3D3;
    background-image: url("../images/background-newsletter.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

.newsletter-title {
    margin: 0;
    padding-top: 94px;
    padding-bottom: 29px;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
}

.newsletter-catalog {
    padding-top: 0;
}

.call-to-subscribe {
    margin: 0;
    padding-bottom: 46px;
}

.newsletter-form {
    display: flex;
    justify-content: center;
    margin: 0 200px;
    padding-bottom: 94px;
}

.field {
    font-family: inherit;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    width: 600px;
    padding-left: 22px;
    background-color: #F2F2F2;
    border-radius: 10px 0 0 10px;
    border: none;
}

.submit-button {
    padding: 12px 34px;
    border-radius: 0 10px 10px 0;
    border: none;
}

/* Подвал */
.footer-wrapper {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding-top: 45px;
    padding-bottom: 35px;
}

.footer-social-list {
    display: flex;
    flex-wrap: wrap;
    width: 144px;
}

.footer-social-item {
    position: relative;
    width: 48px;
    height: 40px;
}

.footer-social-icon {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    fill: #83B3D3;
}

.footer-social-link:hover .footer-social-icon {
    fill: #68A2CA;
}

.footer-social-link:focus .footer-social-icon {
    fill: #68A2CA;
}

.footer-social-link:active .footer-social-icon {
    opacity: 30%;
}

.footer-contacts-address-phone {
    color: #000000;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    text-transform: uppercase;
    text-decoration: none;
    width: 720px;
    margin-left: 42px;
    margin-right: 42px;
}

.footer-contacts-address-phone:hover {
    color: #756157;
}

.footer-contacts-address-phone:focus {
    color: #756157;
}

.footer-contacts-address-phone:active {
    color: #756157;
    opacity: 30%;
}

.footer-logo-html-academy {
    padding-top: 2px;
}

.page-footer-logo:hover .footer-logo-html-academy {
    fill: #756157;
}

.page-footer-logo:focus .footer-logo-html-academy {
    fill: #756157;
}

.page-footer-logo:active .footer-logo-html-academy {
    fill: #756157;
    opacity: 30%;
}

.page-footer {
    text-align: center;
}

/*Хлебные крошки*/
.breadcrumbs {
    display: flex;
    margin: 0;
    padding: 0;
    width: 110px;
    margin-left: 72px;
    margin-bottom: 39px;
}

.breadcrumbs-item {
    position: relative;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    margin-right: 25px;
}

.breadcrumbs-item-content:before {
    position: absolute;
    content: url('../images/breadcramps-arrow.svg');
    left: -15px;
    bottom: 2px;
}

.breadcrumbs-link:hover {
    opacity: 60%;
}

.breadcrumbs-link:focus {
    outline: none;
}

/* Фильтр гостиниц */
.inner-header {
    color: #ffffff;
    background-color: #82B3D3;
    background-image: url("../images/catalog-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.inner-header-title {
    margin: 0;
    line-height: 78px;
    padding: 35px 70px 10px 70px;
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
}

.catalog-filter {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0 70px 62px 70px;
    width: 1060px;
}

.catalog-filter-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 30px;
    padding: 0;
    text-transform: capitalize;
}

.catalog-filter-submit {
    padding: 14px 35px;
    margin-top: 60px;
    margin-bottom: 11px;
}

.buttons-filter-wrapper {
    display: flex;
    flex-direction: column;
}

.catalog-filter-group {
    margin: 0;
    padding: 0 70px 0 0;
    border: none;
}

.control {
    position: relative;
    display: block;
    padding-left: 40px;
    padding-bottom: 15px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

.last-item {
    padding-bottom: 0;
}

.type-of-residence {
    padding-right: 178px;
}

.control::before {
    position: absolute;
    top: 0;
    left: 1px;
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    border-radius: 4px;
    content: "";
}

.control-input:hover + .control::before {
    opacity: 60%;
}

.control-input:focus + .control::before {
    opacity: 60%;
    box-shadow: 0 0 0 3px #83B3D3;
    outline: none;
}

.control-input:active + .control::before {
    opacity: 30%;
}

.control-input[type="checkbox"]:checked + .control::after {
    position: absolute;
    left: 5px;
    top: -2px;
    content: url('../images/check-mark.svg');
}

.control-input-radio + .control::before {
    border-radius: 50%;
}

.control-input-radio:checked + .control::after {
    position: absolute;
    top: 5px;
    left: 6px;
    width: 10px;
    height: 10px;
    background-color: #3F5E72;
    border-radius: 50%;
    content: "";
}

.control-input-radio:hover + .control::before,
.control-input-radio:active + .control::before {
    opacity: 100%;
}

.control-input-radio:focus + .control::before {
    box-shadow: 0 0 0 3px #83B3D3;
    outline: none;
}

/*Слайдер*/
.price-title{
    margin-bottom: 34px;
}

.range-wrapper-inputs {
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    width: 288px;
}

.price:hover {
    border: 2px solid rgba(255, 255, 255, 0.6);
}

.price:focus {
    box-shadow: 0 0 0 3px #81B3D2, 0 0 0 3px #81B3D2 inset;
    outline: none;
}

.price:active {
    background-color: #756257;
}

.filter-from {
    position: relative;
    border: 2px solid #FFFFFF;
    border-radius: 4px 0 0 4px;
}

.filter-before {
    position: relative;
    border: 2px solid #FFFFFF;
    border-radius: 0 4px 4px 0;
}

.price {
    color: #ffffff;
    font-family: inherit;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    background-color: transparent;
    appearance: textfield;
    padding: 11px 16px;
    width: 108px;
}

.price::-webkit-outer-spin-button,
.price::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.price-from {
    position: absolute;
    top: 12px;
    right: 159px;
    color: #FFFFFF;
    font-family: inherit;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    opacity: 30%;
}

.price-before {
    position: absolute;
    top: 12px;
    right: 17px;
    color: #FFFFFF;
    font-family: inherit;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    opacity: 30%;
}

.range-scale {
    position: relative;
    height: 4px;
    background-color: #808080;
}

.range-bar {
    position: absolute;
    height: 4px;
    background-color: #FFFFFF;
}

.range-toggle {
    position: absolute;
    width: 20px;
    height: 20px;
    background: #ffffff;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.range-toggle:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:focus {
    border: 3px solid #83B3D3;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:active {
    border: 2px solid #83B3D3;
    box-shadow: 0 7px 15px rgba(0, 0, 0, 0.4);
}

.toggle-min {
    top: -8px;
}

  .toggle-max {
    top: -8px;
    right: -10px;
}

/*Результаты поиска*/
.results-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 55px 72px 28px 72px;
    justify-content: space-between;
}

.results-title {
    align-self: center;
    margin: 0 191px 0 0;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
}

.select {
    position: relative;
    display: flex;
    align-items: center;
    width: 290px;
    margin-right: auto;
}

.select-control {
    width: 100%;
    padding: 12px 20px;
    padding-right: 97px;
    font-family: inherit;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    border: 2px solid #E5E5E5;
    border-radius: 4px;
    background-image: url("../images/selector-arrow.svg");
    background-repeat: no-repeat;
    background-position: right 18px center;
    appearance: none;
}

.select-control:hover {
    border-color: #68A2CA;
    cursor: pointer;
}

.select-control:focus {
    border-color: #68A2CA;
    cursor: pointer;
    outline: none;
}

.select-control:active {
    border-color: #3F5E72;
    cursor: pointer;
    outline: none;
}

.select-control:disabled {
    opacity: 30%;
}

.view-results-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 48px);
    grid-template-rows: 48px;
    column-gap: 8px;
}

.group-results {
    border: 2px solid #E5E5E5;
    border-radius: 4px;
}

.current-view {
    border-color: #000000;
}

.group-results:hover {
    border-color: #000000;
}

.group-results:focus {
    border-color: #68A2CA;
    outline: none;
}

.group-results:active {
    border-color: #000000;
}

.group-results__table {
    background-image: url('../images/icon-table.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.group-results__slideshow {
    background-image: url('../images/icon-slideshow.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.group-results__list {
    background-image: url('../images/icon-list.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.hotel-list {
    display: grid;
    grid-template-columns: repeat(3, 340px);
    column-gap: 18px;
    padding-top: 56px;
    padding-bottom: 63px;
    border-bottom: 1px solid #E6E6E6;
}

.hotel-card-image {
    margin-bottom: 11px;
}

.hotel-card-title{
    margin: 0;
    margin-bottom: 16px;
    padding: 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}

.hotel-card-link {
    color: #000000;
    text-decoration: none;
}

.hotel-card-type {
    font-size: 18px;
    line-height: 21px;
}

.hotel-card-price {
    font-size: 18px;
    line-height: 21px;
}

.hotel-card {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.hotel-card-content {
    display: grid;
    grid-template-columns: repeat(2, 140px);
    gap: 16px 20px;
}

.overall-rating {
    color: #000000;
    background-color: #F2F2F2;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    align-self: center;
    padding: 9px 22px;
    border-radius: 4px;
}

/*Пагинация*/
.pagination-wrapper {
    display: flex;
    align-items: center;
    width: 1056px;
    margin: 0 auto;
    padding-bottom: 119px;
}

.pagination {
    display: flex;
}

.pagination-item:not(:last-child) {
    margin-right: 8px;
}

.pagination-link {
    display: flex;
    justify-content: center;
    min-width: 24px;
    height: 60px;
    line-height: 36px;
    font-weight: 700;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #82B3D3;
    text-decoration: none;
    border-radius: 4px;
    padding-left: 18px;
    padding-right: 18px;
}

.pagination-current {
    color: #000000;
    background-color: #F2F2F2;
}

.pagination-link:hover:not(.pagination-current) {
    background-color: #68A2CA;
}

.pagination-link:focus:not(.pagination-current) {
    background-color: #68A2CA;
}

.pagination-link:active:not(.pagination-current) {
    opacity: 30%;
}

.hotels-on-page {
    margin-left: auto;
}

.quantity-label {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
}

.quantity-select {
    width: 160px;
    margin-left: 44px;
}

.newsletter-catalog {
    color: #000000;
    background-color: #ffffff;
    text-align: center;
}

/*Модальное окно*/
.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 2;
  }

.modal {
    position: relative;
    margin: auto;
    padding: 62px 70px 70px 70px;
    background-color: #ffffff;
}

.modal-search {
    width: 575px;
    border: none;
    border-radius: 30px;
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
}

.modal-close-button {
    position: absolute;
    padding: 0;
    top: 54px;
    right: 70px;
    width: 53px;
    height: 53px;
    background-color: #F2F2F2;
    border: none;
    border-radius: 50%;
    background-image: url("../images/modal-close.svg");
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
  }

.modal-title {
    margin: 0;
    margin-bottom: 63px;
    font-family: inherit;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
}

.modal-button {
    padding-top: 12px;
    padding-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    text-transform: uppercase;
    border-radius: 10px;
}

.modal-button:focus {
    background-color: #68A2CA;
    outline: none;
    box-shadow: 0 0 0 3px #756257;
}

.modal-filter {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.modal-filter-group {
    margin: 0;
    padding: 0;
    border: none;
}

.modal-filter-list {
    display: grid;
    justify-content: center;
    justify-items: left;
    align-items: center;
    grid-template-columns: 155px repeat(3, 140px);
    grid-template-rows: repeat(3, 50px);
    row-gap: 40px;
    font-family: inherit;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    text-transform: capitalize;
    margin-bottom: 42px;
}

.adults,
.kids {
    position: relative;
}

.value-change-button {
    position: absolute;
    left: 10px;
    top: 15px;
    padding: 13px;
    cursor: pointer;
    border: 0;
}

.value-changes {
    position: absolute;
    width: 13px;
    height: 1px;
    left: 0;
    top: 0;
    padding: 12px 6px;
    fill: #000000;
    opacity: 0.3;
    cursor: pointer;
}

.value-change-button-plus {
    position: absolute;
    right: 12px;
    top: 14px;
    padding: 13px;
    cursor: pointer;
    border: 0;
}

.value-changes-plus {
    position: absolute;
    width: 13px;
    height: 13px;
    right: 0;
    top: 0;
    padding: 6px;
    fill: #000000;
    opacity: 0.3;
    cursor: pointer;
}

.value-change-button-plus:hover,
.value-change-button:hover,
.value-changes:hover,
.value-changes-plus:hover {
    opacity: 1;
}

.value-change-button-plus:focus,
.value-change-button:focus,
.value-changes:focus,
.value-changes-plus:focus {
    opacity: 1;
    border-radius: 4px;
    box-shadow: 0 0 0 3px #83B3D3;
    outline: none;
}

.value-change-button-plus:active,
.value-change-button:active,
.value-changes:active,
.value-changes-plus:active {
    opacity: 0.2;
}


.number-of-guests {
    width: 71px;
    height: 50px;
    border: none;
    background: #F2F2F2;
    border-radius: 4px;
    font-family: inherit;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    padding-left: 60px;
    -moz-appearance: textfield;
}

.number-of-guests::-webkit-outer-spin-button,
.number-of-guests::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
}

.kids-label {
    margin: 0 43px 0 49px;
}

.kids {
    margin-left: auto;
}

.date-in,
.date-out {
    position: relative;
    grid-column: 2 / 5;
    margin-left: auto;
}

.arrival-dates {
    width: 382px;
    height: 50px;
    border: none;
    background: #F2F2F2;
    border-radius: 4px;
    padding-left: 19px;
    padding-right: 19px;
    font-family: inherit;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

.arrival-dates::placeholder {
    color: #000000;
}

.arrival-dates::-webkit-calendar-picker-indicator {
    opacity: 0;
}

.arrival-dates:hover {
    background-color: #E6E6E6;
}

.arrival-dates:focus {
    background-color: #E6E6E6;
    outline: none;
    box-shadow: 0 0 0 3px #83B3D3;
}

.arrival-dates:active {
    background-color: #ffffff;
    box-shadow: 0 0 0 2px #000000;
}

.calend-icon {
    position: absolute;
    top: 19px;
    right: 13px;
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

.calend-icon::after {
    position: absolute;
    width: 15px;
    height: 15px;
    top: 1px;
    right: 6px;
    content: url('../images/modal-date.svg');
}

.check-in-text {
    position: absolute;
    top: 60px;
    left: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    text-transform: none;
    color: #FF5757;
}

.check-out-text {
    position: absolute;
    top: 60px;
    left: 0;
    font-family: inherit;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    text-transform: none;
}

/*Тултип*/
.tooltip {
    position: absolute;
    width: 25px;
    height: 25px;
    top: -1px;
    right: -15px;
}

.tooltip-toggle {
    width: 25px;
    height: 25px;
    border: none;
    border-radius: 50%;
    background: #83B3D3;
    margin-bottom: 15px;
}

.tooltip-toggle:hover {
    background-color: #68A2CA;
}
.tooltip-toggle:focus {
    outline: none;
    background-color: #68A2CA;
}

.tooltip-text {
    color: #ffffff;
    background-color: #333333;
    width: 216px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    text-transform: none;
    padding: 15px 18px 23px 22px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    z-index: 1;
    display: none;
}

.tooltip-text:after {
    content:'';
    background-image: url("../images/tool-tip-arrow.svg");
    width: 19px;
    height: 9px;
    position: absolute;
    top: -9px;
    left: 0;
    right: 0;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
  }

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}

.modal-filter-icon {
    position: relative;
    padding-right: 16px;
}

.modal-container-close {
    display: none;
}
